.cart-component-container {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}

.container {
	background-color: white;
	margin: 25px;
}

.cart {
	flex-grow: 2;
}

.checkout-details {
	flex-grow: 1;
}