.cart-component-container {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}

.cart-container {
	background-color: white;
	margin: 25px;
	padding: 15px;
}

.cart-large {
	width: 66%;
}

.cart-small {
	width: 34%;
}

.checkout-details-small {
	width: 34%;
	height: 30%;
}

.checkout-details-large {
	width: 55%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.checkout-details-label {
	font-weight: bold;
	width: 150px;
	display: inline-block;
	margin-bottom: 0px;
	margin-top: 5px;
}

.checkout-price-value {
	font-weight: normal;
	font-size: 20px;
}

.cart-piece {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.cart-item-image-container {
	margin-right: 50px;
}

.piece-image-large {
	width: 25vw;
}

.piece-image-small {
	width: 10vw;
}

.cart-details-container {
	width: 50%;
}

.cart-piece-details-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cart-piece-title {
	font-family: 'Montserrat';
	font-weight: 400px;
	font-size: 18px;
	text-transform: uppercase
}

.cart-piece-artist {
	color: #3e6079;
	font-size: 14px;
}

.cart-action:hover {
	color: crimson;
}

.cart-item-details-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 125px;
}

.

.cart-item-message {
	margin: 5px;
	fontSize: 10px;
}

.cart-item-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.cart-item-date {
	font-weight: bold;
	font-size: 22px;
}

.cart-piece-price {
	font-family: 'Gotham';
	color: #3e6079;
}

.value {
	font-size: 24px;
}

.checkout-step-container {
	align-items: center;
	background-color: white;
	padding: 10px;
	margin: 5px;
	padding-left: 60px;
	display: flex;
	flex-direction: row;
}

.checkout-step-container-active {
	align-items: flex-start;
}

.checkout-step-container-inactive {
	
}

.checkout-step-container-inactive:hover {
	background-color: #3e607969;
	cursor: pointer;
}

.checkout-step-number-container {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	background-color: #3e6079;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 35px;
}

.checkout-step-number {
	color: white;
	font-size: 40px;
}

.checkout-step-label {
	font-family: none;
	font-weight: bold;
	font-size: 25px;
}